.edit-form {
  background-color: #d6ecef;
  display: flex;
  flex-direction: column;
  padding-bottom: 20%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  min-height: 75vh;
}

.edit-header {
  /* color: #1325c9; */
  color: black;
  font-size:26px; font-weight:300;
}

.edit-form-name,
.edit-form-price,
.edit-arena-img,
.edit-form-address {
  /* color: #1325c9; */
  color: black;
  font-size:20px; font-weight:300;
}

.edit-form-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  right: px;
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 82, 204);
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.error-msg {
  /* color: black; */
  color: #1325c9;
}