/* .review-box {
    bottom: 50px;
}

.submit-review-button {
    bottom: 50px;
} */

.single-post-container {
  background-color: #d6ecef;
}

.single-arena-name {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* min-height: 75vh; */
}

.review-count {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* min-height: 75vh; */
}

.review-color {
  display: flex;
  flex-direction: column;
  /* padding-bottom: .2%; */
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* min-height: 75vh; */
}

.arena-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* min-height: 75vh; */
}

.images-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* min-height: 75vh; */
}

.host-arena-small {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 2%; */
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* min-height: 75vh; */
}

.arena-price {
  display: flex;
  /* flex-direction: column; */
  padding-bottom: 2%;
  top: 17px;
  justify-content: center;
  align-items: center;
  /* min-height: 75vh; */
  left: 0px;
}

.review-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  right: 50px;
}

.posted-by {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 2%; */
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.review-contents {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 2%; */
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.edit-delete-button-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: safe;
  align-items: center;
  margin: 1rem 0;
  padding: 2px 2px;
  border-radius: 1px;
}

.edit-arena-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  right: px;
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 82, 204);
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin: 10px;
}

.delete-arena-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  right: px;
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 82, 204);
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.edit-review-arena-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  right: px;
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 82, 204);
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin: 10px;
}

.delete-review-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  right: px;
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 82, 204);
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.submit-review-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  right: px;
  /* display: inline-block; */
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 82, 204);
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.sub {
  display: flex;
  justify-content: center;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: safe;
  align-items: center;
  margin: 1rem 0;
  padding: 2px 2px;
  border-radius: 1px;
}
