.new-arena-input-img {
  width: 100px;
  height: auto;
}

.new-post-photo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100;
  width: 100px;
  margin-bottom: 100px;
}

.content1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.post-image-preview {
  height: 250px;
  width: 350px;
  object-fit: cover;
  border-radius: 20px;
  /* display: inline-block; */
  /* padding-right: 10px; */
  margin-right: 10px;
}
